

p {
  max-width:800px;
  font-size:18px;
  line-height:1.4em;
}

.content {
  padding:20px;
  border: 10px solid #dd0093;
}

/* Mobile */
@media only screen and (max-width: 500px) {
  h1 { font-size: 24pt;}
  .content { padding: 10px; margin: 20px 20px; max-width:800px; background-color:white;}
}
