* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color:#dd0093
}

h1   {color: dodgerblue; font-family:papyrus; font-weight:bold; font-size:55px; }
h2 { color: DarkMagenta; font-family: "Comic Sans MS"; }
h3 { }

p {font-family:"Courier New", arial, sans-serif}


.content {  padding: 10px; margin: 0 auto; max-width:800px; background-color:white;}
